@import 'https://fonts.googleapis.com/css?family=Lato';

* {
    box-sizing: border-box;
}


.b-profile-sidebar {
    width: 300px;
    padding: 20px 40px;
    border-left: 1px solid red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}


.b-profile-sidebar__photo-container {
    width: 220px;
}

.b-profile-sidebar__main-photo {
    width: 55%;
    float:left;
    box-shadow: 2px 2px 8px #aaa;
    border: 1px solid #3e2b14;
    padding: 2px;
}

.b-profile-sidebar__secondary-photo {
    width: 35%;
    margin: 0 0 0 10px;
    border: 1px solid #3e2b14;
    padding: 2px;

}

.b-profile-sidebar__header {
    padding-left: 2px;
    font-size: 2em;
    color: #b16a6a;

}

.b-profile-sidebar__subheader {
    clear: both;
    font-size: 1.4em;
    padding-top: 30px;
    color: #af4646;
}

.b-profile-sidebar__content {
    color: #8f0000;
}